<head>
  <title>Todo List</title>
</head>

<body>
  <div class="container">
  {{> loginButtons}}
    <header>
      <h1>Todo List</h1>
    </header>

    <label class="hide-completed">
      <input type="checkbox" checked="{{hideCompleted2}}" />
      Hide Completed Tasks
    </label>
    {{#if currentUser}}
    <form class="new-task">
      <input type="text" name="textName" placeholder="Type to add new tasks" />

      <input type="text" name="urlName" placeholder="Type to add new URL" />

      <input type="text" name="genderName" placeholder="Type to add new Gender" />

      <input type="submit" value="Submit12345">
    </form>
        {{/if}}
    <ul>
      {{#each tasks}}
        <li>{{> task}}</li> 
      {{/each}}
    </ul>

  </div>
</body>

<template name="task">
  <li class="{{#if checked2}}checked{{/if}} {{#if private}}private{{/if}}">
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked2}}" class="toggle-checked" />

    {{#if isOwner}}
  <button class="toggle-private">
    {{#if private}}
      Private
    {{else}}
      Public
    {{/if}}
  </button>
{{/if}}

    <span class="text">{{username}}: {{text123}}</span>
  </li>

  {{url}} - {{gender}}
</template>
